!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "StockTracker"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"

    = javascript_include_tag "application"
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"


  %body
    .navbar.navbar-default.navbar-static-top
      .container
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to 'StockTracker', root_path, class: 'navbar-brand'

        - if current_user
          .navbar-collapse.collapse.navbar-responsive-collapse
            %ul.nav.navbar-nav
              %li= link_to "My Portfolio", my_portfolio_path
              %li= link_to "My Profile", edit_registration_path(current_user)
              %li= link_to "My Friends", my_friends_path

            %ul.nav.navbar-nav.navbar-right
              %li.user-name.text-right
                %a= current_user.full_name.present? ? current_user.full_name : current_user.email
              %li.logout
                = link_to "logout", destroy_user_session_path, method: :delete, class: 'btn btn-xs '

    .container
      .row
        .col-lg-9
          = bootstrap_flash
          = yield

      %footer
        %p &copy; Anguish Dev 2019
